<div class="col-md-4 col-md-offset-4 main">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit <%= resource_name.to_s.humanize %></h3>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: "form-control", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "form-control", autofocus: false %>
        </div>

        <div class="form-group">
          <%= f.label :phone %><br />
          <%= f.telephone_field :phone, class: "form-control", autofocus: false %> 10 digits (Ex: 4156065661)
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autofocus: false %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>

      <%= link_to "Back", :back, class: "btn btn-primary" %>
    </div>
  </div>
</div>
