<div class="col-md-4 col-md-offset-4 main">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Please Sign Up</h3>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: "form-control", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "form-control", autofocus: false %>
        </div>

        <div class="form-group">
          <%= f.label :phone %><br />
          <%= f.telephone_field :phone, class: "form-control", autofocus: false %> 10 digits (Ex: 4156065661)
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autofocus: false %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
