<%= form_for(@section_item, url: url, remote: remote) do |f| %>
  <% if @section_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section_item.errors.count, "error") %> prohibited this menu item from being saved:</h2>

      <ul>
      <% @section_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :item %>
    <%= f.collection_select :item_id, @items, :id, :display, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.select :position, 1..@section_items_count, {}, {class: "form-control"} %>
  </div>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
