$('#modalFormBody').html("<%= escape_javascript(render 'form', url: admin_section_item_path(@section_item.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Edit Item in this Section of the Menu");
