$('#modalFormBody').html("<%= escape_javascript(render 'form', url: admin_section_section_items_path(@section_item.section_id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Add New Item in this Section of the Menu");
