<%= form_for(@location, url: url, remote: remote) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(ApplicationHelper::US_STATES, @location.state), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, size: 5, minlength: 5, maxlength: 5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>
    <%= f.text_field :time, size: 5, min: 1, max: 2400, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.select :country, options_for_select(ApplicationHelper::COUNTRY_CODES.invert), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.select :position, 1..@locations_count, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :tax %>
    <div class="input-group">
      <%= f.text_field :tax, size: 5, minlength: 1, maxlength: 5, class: "form-control" %>
      <span class="input-group-addon">%</span>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
