$('#modalFormBody').html("<%= escape_javascript(render 'form', url: admin_location_path(@location.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Update Location");
