<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      Items
      <!-- We use remote to use Ajax  -->
      <%= link_to new_admin_item_path, remote: true do %>
        <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Add an item"></i>
      <% end %>
    </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon  -->
<%= render 'application/modal_form' %>

<div class="row">
  <div class="col-lg-6">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                    <td>
                      <%= item.name %>
                    </td>
                    <td><%= item.description %></td>
                    <td><%= item.category.category unless item.category.nil? %></td>
                    <td><%= number_to_currency(item.price, precision: 2) %></td>
                    <td class="text-center">
                      <%= link_to edit_admin_item_path(item.id), remote: true do %>
                        <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit this item"></i>
                      <% end %>
                      <%= link_to admin_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                        <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Remove this item"></i>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
