<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      <%= @order_item.name %> from order #<%= link_to admin_order_path(@order_item.order.id) do %><%= @order_item.order.id %><% end %><br>
      <%= button_to "Back to item", admin_order_path(@order_item.order.id), method: :get, class: "btn btn-primary" %>
    </h1>
</div>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
              <% @order_item.order_item_details.each do |order_item_detail| %>
                <tr>
                    <td><%= order_item_detail.name %></td>
                    <td><%= order_item_detail.price %></td>
                    <td><%= order_item_detail.quantity %></td>
                    <td><%= order_item_detail.subtotal %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
