<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      employees
      <!-- We use remote to use Ajax  -->
      <%= link_to new_admin_employee_path, remote: true do %>
        <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Create a employee"></i>
      <% end %>
    </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon  -->
<%= render 'application/modal_form' %>

<div class="row">
  <div class="col-md-9">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <!-- <th>Phone Number</th> -->
                    <!-- <th>Role</th> -->
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
              <% @employees.each do |employee| %>
                <tr>
                    <td><%= "#{employee.first_name} #{employee.last_name}" %></td>
                    <td><%= employee.email %></td>
                    <!-- <td><!--%= employee.phone %></td> -->
                    <!-- <td><!--%= Employee::ROLES[employee.role_id] %></td> -->
                    <td class="text-center">
                      <%= link_to edit_admin_employee_path(employee.id), remote: true do %>
                        <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Update this employee"></i>
                      <% end %>
                      <%= link_to admin_employee_path(employee.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                        <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete this employee"></i>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
