<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      <%= "Order ##{@order.id} from #{@order.customer.first_name} #{@order.customer.last_name}" %>
    </h1>
    <p>
      Requested at <b><%= @order.created_at.strftime("%I:%M:%S %p %m/%d/%y") %></b>
    </p>
    <h1>
      <%= form_for(@order, url: admin_order_url(@order.id), method: :patch) do |f| %>
        <% if @order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
            <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :status %>
          <%= f.select :status, options_for_select(Order::STATUS), {}, {class: "form-control"} %>
        </div>

        <%= f.submit "Update Order Status", class: "btn btn-primary" %>
      <% end %>
    </h1>
</div>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Instructions</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
              <% @order.order_items.each do |order_item| %>
                <tr>
                    <td>
                      <%= link_to admin_order_item_path(order_item.id) do %>
                        <%= order_item.name %>
                      <% end %>
                    </td>
                    <td><%= order_item.price %></td>
                    <td><%= order_item.quantity %></td>
                    <td><%= order_item.subtotal %></td>
                    <td><%= order_item.instruction %></td>
                    <td>
                      <ul>
                        <% order_item.order_item_details.each do |order_item_detail| %>
                          <li><%= order_item_detail.name %><span class="pull-right">x <%= pluralize(order_item_detail.quantity, "item") %></span></li>
                        <% end %>
                      </ul>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
