<% count = 0 %>
<% sections.each do |section| %>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" href="#section<%= section.id %>">
                <%= section.name %>
                <%= link_to edit_admin_section_path(section.id), remote: true do %>
                  <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit this Section in the Menu"></i>
                <% end %>
                <%= link_to admin_section_path(section.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                  <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Remove this Section from the Menu"></i>
                <% end %>
                <%= link_to new_admin_section_section_item_path(section.id), remote: true do %>
                  <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Add Item in this Section of the Menu"></i>
                <% end %>
              </a>
          </h4>
      </div>
      <!-- .panel-heading -->
      <div id="section<%= section.id %>" class="panel-collapse collapse <%= count == 0 ? 'in' : '' %>">
        <div class="panel-body">
          <p class="lead"><%= section.description %></p>
          <div id="section_items<%= section.id %>" class="row">
            <%= render 'admin/section_items/index', section_items: section.section_items %>
          </div>
          <!-- /.col-sm-4 -->
        </div>
      </div>
      <!-- .panel-collapse -->

  </div>
  <!-- .panel-default -->
  <% count += 1 %>
<% end %>
