$('#modalFormBody').html("<%= escape_javascript(render 'form', url: admin_menu_sections_path(@section.menu_id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Create a New Section to the Menu");
