<%= form_for @order, url: orders_url do |f| %>
<%= f.hidden_field :location_id %>
<%= f.hidden_field :tax %>
<%= f.hidden_field :subtotal %>

<% bag_items = @bag.bag_items %>
<% quantity = 0 %>
<% bag_items.each do |bag_item| %>
  <% item = bag_item.item %>
  <div class="item_row">
    <div class="bag_item">
      <h3>
        <% quantity += bag_item.quantity %>
        <%= "#{bag_item.quantity} - #{item.name}" %>
        <span class="pull-right">
          <%= link_to bag_item, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-fw fa-times" data-toggle="tooltip" data-placement="top" title="Remove Item"></i>
          <% end %>
          <%= number_to_currency(item.price, precision: 2) %>
        </span>
      </h3>
      <ul class="list-unstyled col-sm-offset-1 col-md-offset-1">
        <% bag_item.bag_item_choices.each do |bag_item_choice| %>
          <% category_option = bag_item_choice.category_option %>
          <li>
            <%= category_option.name %>
            <span class="pull-right">
              <%= number_to_currency(category_option.price, precision: 2) if category_option.price > 0 %>
            </span>
          </li>
        <% end %>
        <% if bag_item.instruction %>
          <li><%= bag_item.instruction %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="bag_subtotal">
  <h3>
    Subtotal:
    <span class="pull-right">
      <%= number_to_currency(@order.subtotal, precision: 2) %>
    </span>
  </h3>
  <% tax = @order.subtotal * @location.tax / 100 %>
  <h3>
    Tax
    <span class="pull-right">
      <%= number_to_currency(tax, precision: 2) %>
    </span>
  </h3>
  <h3>
    Total:
    <span class="pull-right">
      <%= number_to_currency(@order.subtotal + tax, precision: 2) %>
    </span>
  </h3>
</div>

<div class="form-group">
  <%= f.label :instruction %> (Optional)
  <%= f.text_area :instruction, class: "form-control" %>
</div>

<div class="modal-footer">
  <%= link_to "Edit Order", restaurant_path(session[:permalink]), class: "btn btn-primary" %>
  <% if @order.subtotal > 0 %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
