$('#modalFormBody').html("<%= escape_javascript(render 'form', remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("<%=
raw("<span style='color: #C65252;'>Place Order at the #{@location.location} location.</span>") %>");
