<%= form_for(@category_option, url: url, remote: remote) do |f| %>
  <% if @category_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_option.errors.count, "error") %> prohibited this Category Option Choice from being saved:</h2>

      <ul>
      <% @category_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :category_section_id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.select :position, 1..@category_options_count, {}, { class: "form-control" } %>
  </div>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
