<% category_options.each do |category_option| %>

<dt><%= number_to_currency(category_option.price, precision: 2) %></dt>
<dd>
  <%= category_option.name %>
  <%= link_to edit_admin_category_option_path(category_option.id), remote: true do %>
    <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit this Category Option"></i>
  <% end %>
  <%= link_to admin_category_option_path(category_option.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
    <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete this Category Option"></i>
  <% end %>
</dd>
<% end %>
