$('#categorySection<%= @category_option.category_section_id %>').html("<%= escape_javascript(render 'index', category_options: @category_options) %>");
$('#modalForm').modal('hide');
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();
initTooltip();
