<div class="col-sm-9 col-md-9 menu">
  <% if @locations && @locations.length > 0 %>
    <!-- <div class="row">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div> -->
    <div class="row">
      <p id="notice"><%= notice %></p>
      <div class="col-sm-4 col-md-4">
        <h1>Pick Location</h1>
        <%= collection_select :menu, :location_id, @locations, :id, :location, { selected: @location.id }, { class: "form-control" }  %>
      </div>
      <!-- /.col-sm-4 -->
      <!-- TODO: Thus breaks currently. -->
      <!-- <div class="col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1 address">
        <p class="lead"><%= "#{@location.address}, #{@location.city}, #{@location.state} #{@location.zipcode} #{ApplicationHelper::COUNTRY_CODES[@location.country]}" %></p>
      </div> -->
      <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->

    <!-- We include the modal form which will be loaded through boostrap javascript
         when clicking on the add or update icon -->
    <%= render 'application/modal_form' %>

    <div id="menus" class="row">
      <%= render 'menus/index' %>
    </div>
    <!-- /.row -->
  <% else %>
    <p class="lead unavailable main">Take-out orders are not available at the moment. Please check back later.</p>
  <% end %>
</div>
<!-- /.col-sm-9 col-md-9 -->
<div class="col-sm-3 col-md-3 sidebar">
  <h2 class="sub-header">Your Bag</h2>
  <div id="bag" class="row">
    <% if !@bag.nil? %>
      <%= render 'bags/show' %>
    <% end %>
  </div>
</div>
