<div class="col-md-6 col-md-offset-3 main">
  <h1>Thank you <%= current_customer.first_name %> <%= current_customer.last_name %> for your order.</h1>
  <p>Please wait for your confirmation email.</p>
</div>
