@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Julius+Sans+One:400";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar-brand {
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -41px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -40px;
}
.nav-sidebar > li > a {
  padding-right: 40px;
  padding-left: 40px;
  border-right: 1px solid #eee;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Footer
 */
 .footer {
   margin-top: 25px;
   margin-bottom: 25px;
 }

/*
 * Social Media
 */
 ul.list-social li a {
   display: block;
   height: 30px;
   width: 30px;
   line-height: 30px;
   font-size: 15px;
   border-radius: 100%;
   color: white;
 }

ul.list-social li.social-facebook a {
  background-color: #3b5998;
  padding-left: 10px;
}
ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
ul.list-social li.social-email a {
  background-color: #dd4b39;
  padding-left: 8px;
}
ul.list-social li.social-email a:hover {
  background-color: #d73925;
}
ul.list-social li.social-instagram a {
  background-color: #4682B4;
  padding-left: 9px;
}
ul.list-social li.social-instagram a:hover {
  background-color: #125688;
}
