<%= form_for(@category_section, url: url, remote: remote) do |f| %>
  <% if @category_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_section.errors.count, "error") %> prohibited this Section of an Category from being saved:</h2>

      <ul>
      <% @category_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :category_id %>

  <div class="form-group">
    <%= f.label :instruction %>
    <%= f.text_field :instruction, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comment %> (Optional)
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :control_type %>
    <%= f.select :control_type, options_for_select(ApplicationHelper::FORM_CONTROL_TYPE.invert, @category_section.control_type), {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :required %>
    <%= f.check_box :required %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.select :position, 1..@category_sections_count, {}, { class: "form-control" } %>
  </div>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
