$('#modalFormBody').html("<%= escape_javascript(render 'form', url: admin_category_sections_path,remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Create an Category Section");
