<%= form_for(@menu, url: url, remote: remote) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :label %><br>
    <%= f.text_field :label, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Published" %>
    <%= f.check_box :visible %>
  </div>

  <div class="form-group">
    <%= f.label "Starts" %>
    <%= f.time_field :open, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Ends" %>
    <%= f.time_field :close, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :location %>
    <%= f.collection_select :location_id, @locations, :id, :location, {}, { class: "form-control" }  %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.select :position, 1..@menus_count, {}, { class: "form-control" } %>
  </div>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
