<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      Menus
      <!-- We retrieve the location id from the available object -->
      <% location_id = @location ? @location.id : @menu.location_id %>
      <!-- We use remote to use Ajax  -->
      <%= link_to new_admin_location_menu_path(location_id), remote: true do %>
        <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Create a Menu"></i>
      <% end %>
    </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon -->
<%= render 'application/modal_form' %>

<div class="row">
    <div class="col-lg-3">
      <div class="form-group">
        <%= label_tag :location %>:
        <%= collection_select :menu, :location_id, @locations, :id, :location, { selected: location_id }, { class: "form-control" }  %>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <% count = 0 %>
          <% selected = @menu ? @menu.id : -1 %>
          <% @menus.each do |menu| %>
            <li <%= selected == menu.id || (selected == -1 && count == 0) ? "class=active" : '' %>><a href="#menu<%= menu.id %>" data-toggle="tab"><%= menu.label %></a>
            </li>
            <% count += 1 %>
          <% end %>
        </ul>
        <!-- /.nav-tabs -->
        <!-- Tab content -->
        <div class="tab-content">
          <% count = 0 %>
          <% @menus.each do |menu| %>
          <div class="tab-pane fade <%= 'in active' if selected == menu.id || (selected == -1 && count == 0) %>" id="menu<%= menu.id %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <%= "#{menu.label} (#{menu.visible ? "Published" : "Draft"}) - " + ((menu.open.nil? || menu.close.nil?) ? "No schedule defined" : menu.open.strftime("%l %p") + " - " + menu.close.strftime("%l %p")) %>
                  <%= link_to edit_admin_menu_path(menu.id), remote: true do %>
                    <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit this Menu"></i>
                  <% end %>
                  <%= link_to admin_menu_path(menu.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                    <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete this Menu"></i>
                  <% end %>
                  <%= link_to new_admin_menu_section_path(menu), remote: true do %>
                    <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Create a new Section in this Menu"></i>
                  <% end %>
              </div>
              <!-- .panel-heading -->

              <div class="panel-body">
                  <div class="panel-group" id="sections<%= menu.id %>">
                    <%= render 'admin/sections/index', sections: menu.sections %>
                  </div>
                  <!-- .panel-group -->
              </div>
              <!-- .panel-body -->

            </div>
            <!-- /.panel-default -->
          </div>
          <!-- /.tab-pane -->
            <% count += 1 %>
          <% end %>
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.col-md-11 -->
</div>
<!-- /.row -->
