$('.main').html("<%= escape_javascript(render 'index') %>");
$('#modalForm').modal('hide');
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();
listenToLocationsChange();
initTooltip();
