<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Mona's Dashboard</title>

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'admin',
            media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

        <%= render 'layouts/shim' %>

    </head>

    <body>

      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Chef Cloud</a>
          </div>
          <div>
            <% if employee_signed_in? %>
              <!-- Top Menu Items -->
              <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_employee.email %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li>
                        <%= link_to :controller => "employees", :action => "edit", id: current_employee.id, remote: true do %>
                          <i class="fa fa-fw fa-user"></i> Profile
                        <% end %>
                      </li>
                          <li>
                              <a href="#"><i class="fa fa-fw fa-question-circle"></i> Help</a>
                          </li>
                      <li class="divider"></li>
                      <li>
                          <%= link_to destroy_employee_session_path, method: :delete do %>
                            <i class="fa fa-fw fa-power-off"></i> Log Out
                          <% end %>
                      </li>
                  </ul>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
      <!-- /.navbar -->
      <% if employee_signed_in? %>
        <div class="container-fluid">
          <div class="row">
            <div id="navbar" class="col-sm-3 col-md-2 sidebar navbar-collapse collapse">
                <ul class="nav nav-sidebar">
                  <li>
                      <%= link_to admin_orders_path do %>
                        <i class="fa fa-fw fa-shopping-bag"></i> Orders
                      <% end %>
                  </li>
                  <li>
                      <%= link_to admin_locations_path do %>
                        <i class="fa fa-fw fa-map-marker"></i> Locations
                      <% end %>
                  </li>
                  <li>
                      <%= link_to admin_menus_path do %>
                        <i class="fa fa-fw fa-map"></i> Menus
                      <% end %>
                  </li>
                  <li>
                      <%= link_to admin_employees_path do %>
                        <i class="fa fa-fw fa-user"></i> Employees
                      <% end %>
                  </li>
                  <li>
                      <%= link_to admin_items_path do %>
                        <i class="fa fa-fw fa-cutlery"></i> Items
                      <% end %>
                  </li>
                  <li>
                      <%= link_to admin_categories_path do %>
                        <i class="fa fa-fw fa-tag "></i> Categories
                      <% end %>
                  </li>
                </ul>
            </div>
      <% end %>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <!-- <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
              <% end %> -->
              <%= yield %>
            </div>

      <% if employee_signed_in? %>
          </div>
        </div>
        <!-- /.container-fluid -->
      <% end %>

      <!-- Footer -->
      <footer class="footer">
            <div class="container">
                <div class="row col-md-offset-2">
                    <div class="col-md-4">
                        <span class="copyright">© 2016 Chef Cloud</span>
                        <br>
                        <span class="copyright">Developed by Carlos Castro</span>
                    </div>
                    <div class="col-md-3  col-md-offset-1">
                        <ul class="list-inline social-buttons list-social">
                            <li class="social-facebook"><a href="https://www.facebook.com/Monasburgers"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="social-instagram"><a href="https://instagram.com/monasburgers/"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="social-email"><a href="mailto:monasburgers@gmail.com"><i class="fa fa-envelope "></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="tel:+14156065661">1-415-606-5661</a>
                            </li>
                            <li><a href="mailto:chef8cloud@gmail.com">chef8cloud@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.footer -->

    </body>

</html>
