<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Take-out - Mona's Burgers and Shakes</title>

      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application',
          media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <%= render 'layouts/shim' %>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to new_order_path, class: "navbar-toggle" do %>
            <i class="fa fa-fw fa-shopping-cart" data-toggle="tooltip" data-placement="top" title="Checkout Order"></i>
          <% end %>
          <%= link_to "Mona's Burgers", restaurant_path(session[:permalink]), class: "navbar-brand" %>
        </div>
        <div id="navbar" class="nav navbar-collapse collapse navbar-inverse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.monasburgers.com/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
              <ul class="dropdown-menu navbar-inverse">
              <li><a href="http://www.monasburgers.com/catering/">Catering</a></li>
                <li class="divider"></li>
                <li><a href="/takeout">Take-out</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
              <ul class="dropdown-menu navbar-inverse">
              <li><a href="http://www.monasburgers.com/grass-fed/">Grassfed</a></li>
                <li class="divider"></li>
                <li><a href="http://www.monasburgers.com/about-us/">About us</a></li>
                <li class="divider"></li>
                <li><a href="http://www.monasburgers.com/contact-us/">Contact Us</a></li>
              </ul>
            </li>
            <% if customer_signed_in? %>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_customer.first_name %> <b class="caret"></b></a>
                  <ul class="dropdown-menu navbar-inverse">
                      <li>
                        <%= link_to edit_customer_registration_path(current_customer) do %>
                          <i class="fa fa-fw fa-user"></i> Profile
                        <% end %>
                      </li>
                          <li>
                              <a href="#"><i class="fa fa-fw fa-question-circle"></i> Help</a>
                          </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to destroy_customer_session_path, method: :delete do %><i class="fa fa-fw fa-power-off"></i> Sign Out
                        <% end %>
                      </li>
                  </ul>
              </li>
            <% else %>
              <li><a href="/customers/sign_in">Sign In</a></li>
            <% end %>


            <li><a href="#" class="fa fa-search search-icon"></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <form action="http://www.monasburgers.com" method="get" class="search" data-toggle="tooltip" data-placement="top" title="Type and press Enter to search">
      <input type="text" name="s" class="form-control search-box" placeholder="Type and press Enter to search" >
    </form>

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">
                    © 2016 Mona's Burgers and Shakes<br>
                    Developed by <a href="http://carloscastro.me">carloscastro.me</a>
                  </span>
              </div>
              <div class="col-md-3 col-md-offset-1">
                  <ul class="list-inline social-buttons list-social">
                      <li class="social-facebook"><a href="https://www.facebook.com/Monasburgers"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li class="social-instagram"><a href="https://instagram.com/monasburgers/"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li class="social-email"><a href="mailto:monasburgers@gmail.com"><i class="fa fa-envelope "></i></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li><a href="tel:+19252781415">1-925-278-1415</a>
                      </li>
                      <li><a href="mailto:monasburgers@gmail.com">monasburgers@gmail.com</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- /.container -->
    </footer>
    <!-- /.footer -->

  </body>

</html>
